<gl-page-title [title]="'Participants aux activités de type ' + activityType.name"></gl-page-title>

<h2>
  Participants aux activités de type <em>{{ activityType.name }}</em>
  <ng-container *ngIf="activityType.description">
    <br />
    <small class="text-muted">{{ activityType.description }}</small>
  </ng-container>
</h2>

<div class="row mb-2 person-item align-items-baseline" *ngFor="let person of participants">
  <div class="col-sm-8 col-lg-3">
    <a [routerLink]="['/persons', person.id]">{{ person | fullname }}</a>
  </div>
  <div class="col-sm-4 col-lg-1">{{ person.mediationCode }}</div>
  <div class="col-sm-8 col-lg-5 text-nowrap small text-muted">
    <ng-container *ngIf="person.email">
      <span class="fa fa-envelope"></span>
      {{ person.email }}
    </ng-container>
  </div>
  <div class="col-sm-4 col-lg-3 small text-muted">
    <ng-container *ngIf="person.phoneNumber">
      <span class="fa fa-phone"></span>&nbsp;{{ person.phoneNumber }}
    </ng-container>
  </div>
</div>
