<div class="list-group task-item" *ngIf="tasks.length > 0">
  <a href (click)="toggle(task, $event)" *ngFor="let task of tasks" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between task-title">
      <h2>{{ task.model.title }}</h2>
      <small *ngIf="task.model.status === 'TODO' && task.model.dueDate" [class]="task.dueDateClass()">{{ task.relativeDueDate() }}</small>
      <small *ngIf="task.model.status === 'DONE'" class="text-success"><span class="fa fa-check"></span> Faite</small>
      <small *ngIf="task.model.status === 'CANCELLED'" class="text-danger"><span class="fa fa-times"></span> Annulée</small>
    </div>
    <div *ngIf="task.opened" class="task-description">{{ task.model.description }}</div>
    <div class="d-flex w-100 justify-content-between align-items-start">
      <div>
        <small class="text-muted" *ngIf="task.model.creator">Créée par {{ task.model.creator.login }}.</small>
        <small class="text-muted" *ngIf="task.model.assignee">Assignée à {{ task.model.assignee.login }}.</small>
        <small class="text-muted" *ngIf="task.model.concernedPerson">Concerne <a [routerLink]="['/persons', task.model.concernedPerson.id]">{{ task.model.concernedPerson | fullname }}</a>.</small>
      </div>
      <div class="task-buttons" *ngIf="task.model.status === 'TODO'">
        <button (click)="edit(task, $event)" class="btn btn-secondary btn-sm edit-button"><span class="fa fa-edit"></span></button>
        <button (click)="assign(task, $event)" class="btn btn-outline-primary btn-sm assign-button" ><span class="fa fa-hand-o-right"></span></button>
        <button (click)="cancel(task, $event)" class="btn btn-outline-danger btn-sm cancel-button"><span class="fa fa-trash"></span></button>
        <button (click)="markAsDone(task, $event)" class="btn btn-outline-success btn-sm done-button"><span class="fa fa-check"></span></button>
      </div>
      <div class="task-buttons" *ngIf="task.model.status !== 'TODO'">
        <button (click)="resurrect(task, $event)" class="btn btn-outline-info btn-sm resurrect-button"><span class="fa fa-undo"></span></button>
      </div>
    </div>
  </a>
</div>
