<gl-page-title
  *ngIf="editedIncomeSource"
  [title]="'Modification de la nature de prestation ' + editedIncomeSource.name"
></gl-page-title>
<gl-page-title *ngIf="!editedIncomeSource" title="Nouvelle nature de prestation"></gl-page-title>

<h1>
  <ng-container *ngIf="editedIncomeSource"
    >Modification de la nature de prestation <em>{{ editedIncomeSource.name }}</em></ng-container
  >
  <ng-container *ngIf="!editedIncomeSource">Nouvelle nature de prestation</ng-container>
</h1>

<form (ngSubmit)="save()" [formGroup]="incomeSourceForm">
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Nom</label>
    <div class="col-sm-9">
      <input class="form-control" id="name" formControlName="name" />
      <val-errors controlName="name" label="Le nom"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="type" class="col-sm-3 col-form-label">Organisme payeur</label>
    <div class="col-sm-9">
      <select class="form-select" id="type" formControlName="typeId">
        <option value=""></option>
        <option *ngFor="let type of incomeSourceTypes" [ngValue]="type.id">{{ type.type }}</option>
      </select>
      <val-errors controlName="typeId" label="L'organisme payeur"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="maxMonthlyAmount" class="col-sm-3 col-form-label">Montant mensuel maximum</label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        id="maxMonthlyAmount"
        formControlName="maxMonthlyAmount"
        min="1"
      />
      <val-errors controlName="maxMonthlyAmount" label="Le montant mensuel maximum">
        <ng-template valError="min" let-label>{{ label }} doit être positif</ng-template>
      </val-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary me-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/income-sources">Annuler</a>
    </div>
  </div>
</form>
