<form (ngSubmit)="save()" #sourceForm="ngForm">
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Nom</label>
    <div class="col-sm-9">
      <input class="form-control" id="name" name="name" [(ngModel)]="incomeSource.name" required />
    </div>
  </div>
  <div class="form-group row">
    <label for="type" class="col-sm-3 col-form-label">Type</label>
    <div class="col-sm-9">
      <select class="form-control" id="type" name="type" [(ngModel)]="incomeSource.typeId" required>
        <option value=""></option>
        <option *ngFor="let type of incomeSourceTypes" [ngValue]="type.id">{{ type.type }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="maxMonthlyAmount" class="col-sm-3 col-form-label">Montant mensuel maximum</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="maxMonthlyAmount" name="maxMonthlyAmount"
             [(ngModel)]="incomeSource.maxMonthlyAmount" min="1" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary" [disabled]="!sourceForm.valid" id="save">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/income-sources">Annuler</a>
    </div>
  </div>
</form>
