<h1>
  <ng-container *ngIf="editedIncomeType">Modification de l'organisme payeur {{ editedIncomeType.type }}</ng-container>
  <ng-container *ngIf="!editedIncomeType">Nouvel organisme payeur</ng-container>
</h1>

<form (ngSubmit)="save()" [formGroup]="incomeTypeForm">
  <div class="form-group row">
    <label for="type" class="col-sm-2 col-form-label">Organisme</label>
    <div class="col-sm-10">
      <input class="form-control" id="type" formControlName="type" />
      <gl-validation-errors [control]="incomeTypeForm.get('type')">
        <div *ngIf="incomeTypeForm.get('type').hasError('required')">Le type est obligatoire</div>
      </gl-validation-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-2">
      <button class="btn btn-primary mr-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/income-types">Annuler</a>
    </div>
  </div>
</form>
