<h1>Sources de revenu</h1>

<div class="row mb-2 align-items-center income-source-item" *ngFor="let incomeSource of incomeSources">
  <div class="col-sm"><a [routerLink]="['/income-sources', incomeSource.id, 'edit']">{{ incomeSource.name }}</a></div>
  <div class="col-sm text-muted">{{ incomeSource.type.type }}</div>
  <div class="col-sm text-muted">
    <ng-container *ngIf="incomeSource.maxMonthlyAmount">
      max. {{ incomeSource.maxMonthlyAmount | currency:'EUR':true }} / mois
    </ng-container></div>
  <div class="col-sm text-right">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/income-sources', incomeSource.id, 'edit']">
      <span class="fa fa-edit"></span>
      Éditer
    </a>
  </div>
</div>

<a class="btn btn-outline-primary" routerLink="/income-sources/create">
  <span class="fa fa-plus"></span>
  Nouvelle source de revenu
</a>
