* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

header {
  padding: 4rem;
  color: #fff;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  font-size: 250%;
  font-weight: bold;
}

h1 {
  padding: 20px;
  font-size: 150%;
}

p {
  padding: 10px;
}

label {
  padding: 5px;
}

fieldset {
  width : 50%;
  margin-left: auto;
  margin-right: auto;
}

legend {
  font-size: 130%;
  padding: 5px;
}

input {
  border-radius: 5px;
}

input.bouton {
  margin: 10px;
  padding: 10px;
}

input[type=checkbox] {
  display:none;
}

#doctor + label{
  background: url("Images/doctor.png") no-repeat;
}

#doctor:checked + label {
  background: url("Images/doctor_c.png") no-repeat;
}

#course + label{
  background: url("Images/course.png") no-repeat;
}

#course:checked + label {
  background: url("Images/course_c.png") no-repeat;
}

input[type=checkbox] + label {
  height: 100px;
  width: 100px;
  background-size: 100% !important;
  display:inline-block;
  cursor:pointer;
}
