<div class="row align-items-center justify-content-center" style="margin-top: 100px">

  <div class="col-sm">
    <img src="/assets/logo.png" class="img-fluid" alt="Logo de Globe 42"/>
  </div>
  <div class="col-sm">
    <div *ngIf="!user; else loggedIn" class="text-center">
      <a class="btn btn-primary btn-lg" routerLink="/login">
        <span class="fa fa-sign-in"></span>
        Connexion
      </a>
    </div>
    <ng-template #loggedIn>
      <ul class="list-unstyled lead ml-sm-5">
        <li><a routerLink="/persons"><span class="fa fa-caret-right"></span> Gestion des adhérents</a></li>
        <li><a routerLink="/tasks"><span class="fa fa-caret-right"></span> Tâches à réaliser</a></li>
        <li><div class="list-item">Gestion des ressources</div>
          <ul class="list-unstyled ml-4">
            <li><a routerLink="/income-sources"><span class="fa fa-caret-right"></span> Natures de prestation</a></li>
            <li><a routerLink="/income-types"><span class="fa fa-caret-right"></span> Organismes payeurs</a></li>
            <li><a routerLink="/charge-types"><span class="fa fa-caret-right"></span> Natures des charges</a></li>
            <li><a routerLink="/charge-categories"><span class="fa fa-caret-right"></span> Dépenses</a></li>
          </ul>
        </li>
        <li><a routerLink="/activity-types"><span class="fa fa-caret-right"></span> Activités</a></li>
        <li *ngIf="user?.admin"><a routerLink="/users"><span class="fa fa-caret-right"></span> Gestion des utilisateurs de l'application</a></li>
      </ul>
    </ng-template>
  </div>
</div>
