<div class="text-center" style="margin-top: 100px">
  <h1>Globe42</h1>

  <div *ngIf="!user; else loggedIn">
    <a class="btn btn-primary" routerLink="/login">Connexion</a>
  </div>
  <ng-template #loggedIn>
    <div>
      <a routerLink="/persons">Gestion des adhérents</a>
    </div>
    <div>
      <a routerLink="/income-types">Gestion des types de revenu</a>
    </div>
    <div>
      <a *ngIf="user?.admin" routerLink="/users">Gestion des utilisateurs de l'application</a>
    </div>
  </ng-template>
</div>
