<h1 class="mb-5">Adhérents</h1>

<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let user of users">
    <div class="d-flex w-100 justify-content-between">
      <a [routerLink]="['/users', user.id]">{{user.firstName}} {{user.lastName}}</a>
      <a class="btn btn-secondary" [routerLink]="['/users', user.id, 'edit']">Éditer</a>
    </div>
  </div>
</div>

<a class="btn btn-primary" routerLink="/users/create">Nouvel adhérent</a>
