<h1>Utilisateurs de l'application</h1>

<div class="row mb-2 align-items-center user-item" *ngFor="let user of users">
  <div class="col-sm-3"><a [routerLink]="['/users', user.id, 'edit']">{{ user.login }}</a></div>
  <div class="col-sm-3">
    <span *ngIf="user.admin" class="text-muted">administrateur</span>
    <span *ngIf="!user.admin" class="text-muted">simple utilisateur</span>
  </div>
  <div class="col-sm-6 text-right">
    <a class="btn btn-outline-secondary btn-sm mr-1" [routerLink]="['/users', user.id, 'edit']">
      <span class="fa fa-edit"></span>
      Éditer
    </a>
    <a class="btn btn-outline-secondary btn-sm mr-1" [routerLink]="['/users', user.id, 'password-resets']">
      <span class="fa fa-key"></span>
      Réinitialiser le mot de passe
    </a>
    &ngsp;
    <button class="btn btn-outline-danger btn-sm mr-1 delete-button" [disabled]="isCurrentUser(user)" (click)="delete(user)">
      <span class="fa fa-trash"></span>
      Supprimer
    </button>
  </div>
</div>

<a class="btn btn-outline-primary" routerLink="/users/create">
  <span class="fa fa-plus"></span>
  Nouvel utilisateur
</a>
