<div *ngIf="incomes.length == 0" class="text-center" id="no-income">
  <span style="font-size: 60px;" class="fa fa-info-circle text-info"></span>
  <br/>
  <span class="lead">Aucun revenu&nbsp;!</span>
</div>

<div class="row align-items-center mb-2 income-item" *ngFor="let income of incomes">
  <div class="col-sm">
    {{ income.source.name }}
  </div>
  <div class="col-sm text-right">
    {{ income.monthlyAmount | currency:'EUR':true }} / mois
  </div>
  <div class="col-sm text-right">
    <button class="btn btn-danger btn-sm delete-button" (click)="delete(income)">
      <span class="fa fa-trash"></span>
      Supprimer
    </button>
  </div>
</div>

<div *ngIf="incomes.length" class="row align-items-center mb-2" id="total-income">
  <div class="col-sm"><strong>Total</strong></div>
  <div class="col-sm text-right"><strong>{{ totalMonthlyAmount() | currency:'EUR':true }} / mois</strong></div>
  <div class="col-sm"></div>
</div>


<a [routerLink]="['/persons', person.id , 'incomes', 'create']" class="btn btn-outline-primary">
  <span class="fa fa-plus"></span>
  Ajouter un revenu
</a>
