@media print {
  .print-button {
    visibility: hidden;
  }
}
.print {
  font-size: 14pt;
}
.rectangle {
  border: 1px solid black;
  height: 40pt;
}
.logo {
  width: 150pt;
}
.field {
  border-bottom: 1px dotted black;
}
