<h2 >Temps passé par catégorie</h2>

<form [formGroup]="criteriaForm" class="form-inline mb-4">
  <label for="from" class="mr-2">Du</label>
  <div class="input-group mr-2">
    <div class="input-group-addon" (click)="from.toggle()">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>
    <input class="form-control" style="width: 8em;" id="from" formControlName="from" ngbDatepicker #from="ngbDatepicker" [minDate]="{year: 2017, month: 1}">
  </div>

  <label for="to" class="mr-2">au</label>
  <div class="input-group mr-2">
    <div class="input-group-addon" (click)="to.toggle()">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>
    <input class="form-control" style="width: 8em;" id="to" formControlName="to" ngbDatepicker #to="ngbDatepicker" [minDate]="{year: 2017, month: 1}">
  </div>

  <label for="by" class="mr-2">Par</label>
  <select id="by" formControlName="by" class="form-control">
    <option [ngValue]="0">Tous les utilisateurs</option>
    <option *ngFor="let user of users" [ngValue]="user.id">{{ user.login }}</option>
  </select>
</form>

<div class="row" *ngIf="chartConfiguration">
  <div class="col-md-8 col-lg-6 offset-lg-1">
    <gl-chart [configuration]="chartConfiguration"></gl-chart>
  </div>
  <div class="col-md-4 mt-4 mt-md-0">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th class="text-right">Temps passé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of categoryStatistics">
          <td>{{ stat.category.name }}</td>
          <td class="text-right">{{ stat.minutes | duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
