<gl-page-title [title]="(person | fullname) + ': Activités'"></gl-page-title>

<p id="message">{{ person | fullname }} participe aux types d'activités suivants&nbsp;:</p>

<div *ngFor="let item of items" class="form-check ml-5">
  <label class="form-check-label">
    <input
      id="activityType-{{ item.activityType }}"
      type="checkbox"
      class="form-check-input"
      [checked]="item.selected"
      (change)="selectItem(item)"
    />
    {{ item.activityType | displayActivityType }}
  </label>
</div>
