<gl-page-title [title]="(person | fullname) + ': Informations'"></gl-page-title>

<div class="row read-only-form">
  <div class="col-lg">
    <h2>Identité</h2>
    <div class="form-group row" *ngIf="person.mediationEnabled">
      <label class="col-sm-6 col-form-label">Code médiation</label>
      <div class="col-sm-6">
        <p id="mediationCode" class="form-control-plaintext">{{ person.mediationCode }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Genre</label>
      <div class="col-sm-6">
        <p id="gender" class="form-control-plaintext">{{ person.gender | displayGender }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Né(e) le</label>
      <div class="col-sm-6">
        <p id="birthDate" class="form-control-plaintext">{{ person.birthDate | date }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Nom de naissance</label>
      <div class="col-sm-6">
        <p id="birthName" class="form-control-plaintext">{{ person.birthName }}</p>
      </div>
    </div>
    <div class="form-group row" *ngIf="person.mediationEnabled">
      <label class="col-sm-6 col-form-label">Statut marital</label>
      <div class="col-sm-6">
        <p id="maritalStatus" class="form-control-plaintext">{{ person.maritalStatus | displayMaritalStatus }}</p>
      </div>
    </div>
    <div class="form-group row" *ngIf="person.mediationEnabled && (person.spouse || person.partner)">
      <label class="col-sm-6 col-form-label">En couple avec</label>
      <div class="col-sm-6">
        <p id="spouse" class="form-control-plaintext">
          <a *ngIf="person.spouse; else partner" [routerLink]="['/persons', person.spouse.id]">{{ person.spouse | fullname }}</a>
          <ng-template #partner><span id="partner">{{ person.partner }}</span></ng-template>
        </p>
      </div>
    </div>

    <div *ngIf="person.mediationEnabled">
      <h2 class="mt-3">Santé</h2>

      <div class="form-group row">
        <label class="col-sm-6 col-form-label">N° de Sécurité Sociale</label>
        <div class="col-sm-6">
          <p id="socialSecurityNumber" class="form-control-plaintext">{{ person.socialSecurityNumber }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">N° CAF</label>
        <div class="col-sm-6">
          <p id="cafNumber" class="form-control-plaintext">{{ person.cafNumber }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Couverture médicale de base</label>
        <div class="col-sm-6">
          <p id="healthCareCoverage" class="form-control-plaintext">
            {{ person.healthCareCoverage | displayHealthCareCoverage }}
            <span *ngIf="person.healthCareCoverage !== 'UNKNOWN' && person.healthCareCoverageStartDate">
              depuis le {{ person.healthCareCoverageStartDate | date }}
            </span>
          </p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Couverture médicale complémentaire</label>
        <div class="col-sm-6">
          <p id="healthInsurance" class="form-control-plaintext">
            {{ person.healthInsurance | displayHealthInsurance }}
            <span *ngIf="person.healthInsurance !== 'UNKNOWN' && person.healthInsuranceStartDate">
              depuis le {{ person.healthInsuranceStartDate | date }}
            </span>
          </p>
        </div>
      </div>

      <h2 class="mt-3">Séjour</h2>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Entré(e) en France le</label>
        <div class="col-sm-6">
          <p id="entryDate" class="form-control-plaintext">{{ person.entryDate | date }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Entré(e) en France de manière</label>
        <div class="col-sm-6">
          <p id="entryType" class="form-control-plaintext">{{ person.entryType | displayEntryType }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Type de Visa</label>
        <div class="col-sm-6">
          <p id="visa" class="form-control-plaintext">{{ person.visa | displayVisa }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Type de carte de séjour</label>
        <div class="col-sm-6">
          <p id="residencePermit" class="form-control-plaintext">{{ person.residencePermit | displayResidencePermit }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Date de dépôt</label>
        <div class="col-sm-6">
          <p id="residencePermitDepositDate" class="form-control-plaintext">{{ person.residencePermitDepositDate | date }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Date de renouvellement</label>
        <div class="col-sm-6">
          <p id="residencePermitRenewalDate" class="form-control-plaintext">{{ person.residencePermitRenewalDate | date }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Valide du</label>
        <div class="col-sm-6">
          <p id="residencePermitValidityStartDate" class="form-control-plaintext">{{ person.residencePermitValidityStartDate | date }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Valide jusqu'au</label>
        <div class="col-sm-6">
          <p id="residencePermitValidityEndDate" class="form-control-plaintext">{{ person.residencePermitValidityEndDate | date }}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg">
    <div *ngIf="person.mediationEnabled">
      <h2 class="mt-3 mt-lg-0">Informations</h2>

      <div class="form-group row" *ngIf="person.mediationEnabled">
        <label class="col-sm-6 col-form-label">1<sup>er</sup> RDV médiation</label>
        <div class="col-sm-6">
          <p id="firstMediationAppointmentDate" class="form-control-plaintext">{{ person.firstMediationAppointmentDate | date }}</p>
        </div>
      </div>
    </div>

    <h2 class="mt-3" [class.mt-lg-0]="!person.mediationEnabled">Contact</h2>

    <div class="d-flex mb-2" id="fullAddress">
      <div class="mr-3"><span class="fa fa-home fa-fw"></span></div>
      <div>
        {{ person.address }}<br/>
        {{ person.city | displayCity }}
      </div>
      <div class="ml-3">
        <a *ngIf="mapsUrl" [href]="mapsUrl" target="_blank" style="font-size: 1.3rem;"
           ngbTooltip="Localiser sur une carte" placement="right">
          <span class="fa fa-map-marker"></span>
        </a>
      </div>
    </div>

    <div class="d-flex mb-2" id="email">
      <div class="mr-3"><span class="fa fa-envelope fa-fw"></span></div>
      <div>{{ person.email }}</div>
    </div>

    <div class="d-flex mb-2" id="phoneNumber">
      <div class="mr-3"><span class="fa fa-phone fa-fw"></span></div>
      <div>{{ person.phoneNumber }}</div>
    </div>

    <div class="d-flex mb-2" id="accompanying"  *ngIf="person.mediationEnabled">
      <div class="mr-3"><span class="fa fa-universal-access fa-fw" title="accompagnant"></span></div>
      <div>{{ person.accompanying }} (accompagnant)</div>
    </div>

    <div *ngIf="person.mediationEnabled">
      <h2 class="mt-3">Logement</h2>
      <p id="housing">
          {{ person.housing | displayHousing }}
          <ng-container *ngIf="person.housingSpace"> &mdash; {{ person.housingSpace }} m<sup>2</sup></ng-container>
      </p>
      <ng-container *ngIf="person.hostName">Hébergé par {{ person.hostName }}</ng-container>

      <h2 class="mt-3">Situation fiscale</h2>

      <p id="fiscalStatus">
        {{ person.fiscalStatus | displayFiscalStatus }}
        <ng-container *ngIf="person.fiscalStatus !== 'UNKNOWN'">
          <span *ngIf="person.fiscalNumber">
            &mdash; n° fiscal {{ person.fiscalNumber }}
          </span>
          <span class="text-danger" *ngIf="!person.fiscalStatusUpToDate">
            <span class="fa fa-warning"></span>
            pas à jour
          </span>
          <span class="text-success" *ngIf="person.fiscalStatusUpToDate">
            <span class="fa fa-check"></span>
            à jour
          </span>
        </ng-container>
      </p>

      <h2 class="mt-3">Citoyenneté</h2>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Nationalité</label>
        <div class="col-sm-6">
          <p id="nationality" class="form-control-plaintext">{{ person.nationality?.name }}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Possède un passeport</label>
        <div class="col-sm-6">
          <p id="passportStatus" class="form-control-plaintext">{{ person.passportStatus | displayPassportStatus }}</p>
        </div>
      </div>

      <ng-container *ngIf="person.passportStatus === 'PASSPORT'">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">N° du passeport</label>
          <div class="col-sm-6">
            <p id="passportNumber" class="form-control-plaintext"><code>{{ person.passportNumber }}</code></p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Valide du</label>
          <div class="col-sm-6">
            <p id="passportValidityStartDate" class="form-control-plaintext">{{ person.passportValidityStartDate | date }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Valide jusqu'au</label>
          <div class="col-sm-6">
            <p id="passportValidityEndDate" class="form-control-plaintext">{{ person.passportValidityEndDate | date }}</p>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
<div class="mt-3">
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/persons', person.id, 'edit']">
    <span class="fa fa-edit"></span>
    Éditer
  </a>
  <button *ngIf="!person.deleted" id="delete-person-button" type="button" class="btn btn-outline-danger" (click)="delete()">
    <span class="fa fa-trash"></span>
    Supprimer
  </button>
  <button *ngIf="person.deleted" id="resurrect-person-button" type="button" class="btn btn-outline-danger" (click)="resurrect()">
    <span class="fa fa-undo"></span>
    Restaurer
  </button>
</div>

<div class="mt-3">
  <h2>Notes</h2>

  <gl-person-notes [person]="person" (noteEdited)="noteEdited = $event"></gl-person-notes>
</div>

