<div class="row read-only-form">
  <div class="col-lg">
    <h2>Identité</h2>

    <div class="form-group row" *ngIf="person.mediationEnabled">
      <label class="col-sm-6 col-form-label">Code médiation</label>
      <div class="col-sm-6">
        <p id="mediationCode" class="form-control-static">{{ person.mediationCode }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Est adhérent</label>
      <div class="col-sm-6">
        <p id="adherent" class="form-control-static">{{ person.adherent ? 'Oui' : 'Non' }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Genre</label>
      <div class="col-sm-6">
        <p id="gender" class="form-control-static">{{ person.gender | displayGender }}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">Né(e) le</label>
      <div class="col-sm-6">
        <p id="birthDate" class="form-control-static">{{ person.birthDate | date }}</p>
      </div>
    </div>
    <div class="form-group row" *ngIf="person.mediationEnabled">
      <label class="col-sm-6 col-form-label">Statut marital</label>
      <div class="col-sm-6">
        <p id="maritalStatus" class="form-control-static">{{ person.maritalStatus | displayMaritalStatus }}</p>
      </div>
    </div>
    <div class="form-group row" *ngIf="person.mediationEnabled">
      <label class="col-sm-6 col-form-label">Entré(e) en France le</label>
      <div class="col-sm-6">
        <p id="entryDate" class="form-control-static">{{ person.entryDate | date }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <h2>Contact</h2>

    <div class="d-flex mb-2" id="fullAddress">
      <div class="mr-3"><span class="fa fa-home"></span></div>
      <div>
        {{ person.address }}<br/>
        {{ person.city | displayCity }}
      </div>
      <div class="ml-3">
        <a *ngIf="mapsUrl" [href]="mapsUrl" target="_blank" style="font-size: 1.3rem;"
           ngbTooltip="Localiser sur une carte" placement="right">
          <span class="fa fa-map-marker"></span>
        </a>
      </div>
    </div>

    <div class="d-flex mb-2" id="email">
      <div class="mr-3"><span class="fa fa-envelope"></span></div>
      <div>{{ person.email }}</div>
    </div>

    <div class="d-flex mb-2" id="phoneNumber">
      <div class="mr-3"><span class="fa fa-phone"></span></div>
      <div>{{ person.phoneNumber }}</div>
    </div>

    <ng-container *ngIf="person.mediationEnabled">
      <h2>Logement</h2>
      <p id="housing">
        {{ person.housing | displayHousing }}
        <ng-container *ngIf="person.housingSpace"> &mdash; {{ person.housingSpace }} m<sup>2</sup></ng-container>
      </p>

      <h2>Situation fiscale</h2>

      <p id="fiscalStatus">
        {{ person.fiscalStatus | displayFiscalStatus }}
        <ng-container *ngIf="person.fiscalStatus !== 'UNKNOWN'">
          <span *ngIf="person.fiscalStatusDate">
            &mdash; établie le {{ person.fiscalStatusDate | date }}
          </span>
          <span class="text-danger" *ngIf="!person.fiscalStatusUpToDate">
            <span class="fa fa-warning"></span>
            pas à jour
          </span>
          <span class="text-success" *ngIf="person.fiscalStatusUpToDate">
            <span class="fa fa-check"></span>
            à jour
          </span>
        </ng-container>
      </p>
    </ng-container>
  </div>
</div>

<a class="btn btn-outline-primary" [routerLink]="['/persons', person.id, 'edit']">
  <span class="fa fa-edit"></span>
  Éditer
</a>

<div class="mt-4">
  <h2>Notes</h2>

  <div class="text-center" *ngIf="person.notes.length === 0">
    <span style="font-size: 60px;" class="fa fa-info text-info"></span>
    <br/>
    <span class="lead">Aucune note</span>
  </div>

  <gl-note *ngFor="let note of person.notes; let even = even;" [note]="note"
           [position]="even ? 'left' : 'right'"
           [edited]="editedNote === note"
           [disabled]="editedNote && note !== editedNote"
           (editionRequested)="editedNote = note"
           (editionCancelled)="cancelNoteEdition($event)"
           (editionDone)="saveNote($event)"
           (deletionRequested)="deleteNote($event)"></gl-note>

  <button type="button" class="btn btn-outline-primary" [disabled]="editedNote" (click)="addNote()">
    <span class="fa fa-plus"></span>
    Ajouter une note
  </button>
</div>

