<h1 id="fullName" [class.deleted]="person.deleted">{{ person | fullname }}</h1>

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="info" routerLinkActive="active">Informations</a>
      </li>
      <li class="nav-item" *ngIf="person.mediationEnabled">
        <a class="nav-link" routerLink="resources" routerLinkActive="active">Ressources</a>
      </li>
      <li class="nav-item" *ngIf="person.mediationEnabled">
        <a class="nav-link" routerLink="family" routerLinkActive="active">Situation familiale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tasks" routerLinkActive="active">Tâches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="files" routerLinkActive="active">Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="participations" routerLinkActive="active">Activités</a>
      </li>
    </ul>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
