<div class="small text-muted" [class.text-right]="position === 'right'">
  <ng-container *ngIf="note.creator">
    {{ note.creator.login }}
    &mdash;
  </ng-container>
  {{ note.creationInstant | date }}
</div>
<div class="bubble text-muted" [class.bubble-right]="position === 'right'">
  <ng-container *ngIf="!edited">
    <div style="white-space: pre-line;">{{ note.text }}</div>
    <div class="text-right">
      <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="disabled" (click)="edit()">
        <span class="fa fa-edit"></span>
      </button>
      <button type="button" class="btn btn-sm btn-outline-danger" [disabled]="disabled" (click)="delete()">
        <span class="fa fa-trash"></span>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="edited">
    <form>
      <textarea #text="ngModel" name="text" [(ngModel)]="editedText" style="width: 100%;" [rows]="rowCount" required></textarea>
      <div class="text-right">
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="text.invalid" (click)="save()">
          <span class="fa fa-check"></span>
          Enregistrer
        </button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancel()">
          <span class="fa fa-undo"></span>
          Annuler
        </button>
      </div>
    </form>
  </ng-container>
</div>
