* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

p {
  clear: right;
}

.box {
  background-color: #BBBBBB;
  /*padding: 0px 10px 10px 10px;*/
  border: 2px solid black;
  margin: 5px;
  /*width: 50%;*/
  position: relative;
}

.title {
  text-align: center;
  font-weight: bold;
  border: 2px solid black; /*pq obligee de le rajouter alors quil est dans .box ?*/
  font-size: 18px;
  width: 100px;
  position: relative;
  float:right;
}

.chicken {
  background-color: #FFC0CB;
  padding: 2px 0px 2px 0px;
}
.beef {
  background-color: #B63B3B;
  color: white;
  padding: 2px 0px 2px 0px;
}
.sushi {
  background-color: #EEDC82;
  padding: 2px 0px 2px 0px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-mo-1, .col-mo-2, .col-mo-3, .col-mo-4, .col-mo-5, .col-mo-6, .col-mo-7, .col-mo-8, .col-mo-9, .col-mo-10, .col-mo-11, .col-mo-12 {
    float: left;
  }
  .col-mo-1 {
    width: 8.33%;
  }
  .col-mo-2 {
    width: 16.66%;
  }
  .col-mo-3 {
    width: 25%;
  }
  .col-mo-4 {
    width: 33.33%;
  }
  .col-mo-5 {
    width: 41.66%;
  }
  .col-mo-6 {
    width: 50%;
  }
  .col-mo-7 {
    width: 58.33%;
  }
  .col-mo-8 {
    width: 66.66%;
  }
  .col-mo-9 {
    width: 74.99%;
  }
  .col-mo-10 {
    width: 83.33%;
  }
  .col-mo-11 {
    width: 91.66%;
  }
  .col-mo-12 {
    width: 100%;
  }
}
