<gl-page-title
  *ngIf="editedChargeType"
  [title]="'Modification de la nature des charges ' + editedChargeType.name"
></gl-page-title>
<gl-page-title *ngIf="!editedChargeType" title="Nouvelle nature des charges"></gl-page-title>

<h1>
  <ng-container *ngIf="editedChargeType"
    >Modification de la nature des charges <em>{{ editedChargeType.name }}</em></ng-container
  >
  <ng-container *ngIf="!editedChargeType">Nouvelle nature des charges</ng-container>
</h1>

<form (ngSubmit)="save()" [formGroup]="chargeTypeForm">
  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Nom</label>
    <div class="col-sm-9">
      <input class="form-control" id="name" formControlName="name" />
      <val-errors controlName="name" label="Le nom"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label">Dépense</label>
    <div class="col-sm-9">
      <select class="form-control" id="category" formControlName="categoryId">
        <option [ngValue]="null"></option>
        <option *ngFor="let category of chargeCategories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
      <val-errors controlName="categoryId" label="La dépense"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="maxMonthlyAmount" class="col-sm-3 col-form-label">Montant mensuel maximum</label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        id="maxMonthlyAmount"
        formControlName="maxMonthlyAmount"
        min="1"
      />
      <val-errors controlName="maxMonthlyAmount" label="Le montant mensuel maximum">
        <ng-template valError="min" let-label>{{ label }} doit être positif</ng-template>
      </val-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary mr-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/charge-types">Annuler</a>
    </div>
  </div>
</form>
