<h1>Adhérents</h1>

<div class="mb-4">
  <input id="filter-input" [formControl]="filterCtrl" class="form-control" placeholder="Filtrer" />
</div>

<div class="row align-items-center mb-2 person-item" *ngFor="let person of persons">
  <div class="col-sm">
    <a [routerLink]="['/persons', person.id]">{{ person | fullname }}</a>
  </div>
  <div class="col-sm">{{ person.mediationCode }}</div>
  <div class="col-sm text-right">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/persons', person.id, 'edit']">
      <span class="fa fa-edit"></span>
      Éditer
    </a>
  </div>
</div>

<a class="btn btn-outline-primary" routerLink="/persons/create">
  <span class="fa fa-plus"></span>
  Nouvel adhérent
</a>
