<input
  id="filter-input"
  [formControl]="filterCtrl"
  class="form-control mb-3"
  placeholder="Filtrer"
/>

<div class="row align-items-center mb-2 person-item" *ngFor="let person of persons">
  <div class="col-sm">
    <a [routerLink]="['/persons', person.id]">{{ person | fullname }}</a>
  </div>
  <div class="col-sm">{{ person.mediationCode }}</div>
  <div class="col-sm text-end">
    <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/persons', person.id, 'edit']">
      <span class="fa fa-edit"></span>
      Éditer
    </a>
  </div>
</div>

<div class="text-end mt-4">
  <a class="btn btn-outline-primary" routerLink="/persons/create">
    <span class="fa fa-plus"></span>
    Nouvel adhérent
  </a>
</div>
