<gl-page-title title="Connexion"></gl-page-title>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Connexion</h1>

    <div class="alert alert-danger alert-dismissible" *ngIf="authenticationFailed">
      Erreur d'authentification, essayez encore.
      <button
        type="button"
        class="btn-close"
        aria-label="Fermer"
        (click)="authenticationFailed = false"
      ></button>
    </div>

    <form (ngSubmit)="authenticate()" [formGroup]="loginForm">
      <div class="form-group">
        <label class="form-label" for="login">Identifiant</label>
        <input id="login" class="form-control" formControlName="login" />
        <val-errors controlName="login" label="L'identifiant"></val-errors>
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Mot de passe</label>
        <input id="password" class="form-control" type="password" formControlName="password" />
        <val-errors controlName="password" label="Le mot de passe"></val-errors>
      </div>

      <button class="btn btn-primary" id="submit" type="submit">Connexion</button>
    </form>
  </div>
</div>
