<gl-page-title
  *ngIf="editedChargeCategory"
  [title]="'Modification de la dépense ' + editedChargeCategory.name"
></gl-page-title>
<gl-page-title *ngIf="!editedChargeCategory" title="Nouvelle dépense"></gl-page-title>

<h1>
  <ng-container *ngIf="editedChargeCategory"
    >Modification de la dépense <em>{{ editedChargeCategory.name }}</em></ng-container
  >
  <ng-container *ngIf="!editedChargeCategory">Nouvelle dépense</ng-container>
</h1>

<form (ngSubmit)="save()" [formGroup]="chargeCategoryForm">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input class="form-control" id="name" formControlName="name" />
      <val-errors controlName="name" label="Le nom"></val-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-2">
      <button class="btn btn-primary me-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/charge-categories">Annuler</a>
    </div>
  </div>
</form>
