<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Globe42</a>
  <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <div class="nav navbar-nav mr-auto">
      <a class="nav-item nav-link" *ngIf="user" routerLink="/persons">Adhérents</a>
    </div>
    <div class="nav navbar-nav">
      <span class="nav-item navbar-text mr-2" *ngIf="user">{{ user.login }}</span>
      <a (click)="logout($event)" class="nav-item nav-link" href="#" *ngIf="user">
        <span class="fa fa-power-off"></span>
      </a>
    </div>
  </div>
</nav>
