<div [formGroup]="situation">
  <div class="form-check row">
    <div class="col-sm-6 offset-sm-6">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="parentsPresent" />
        Parents présents
      </label>
    </div>
  </div>
  <div class="form-check row">
    <div class="col-sm-6 offset-sm-6">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="spousePresent" />
        Époux(se) présent(e)
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label [for]="location + 'childCount'" class="col-sm-6 col-form-label">Nombre d'enfants</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" [id]="location + 'childCount'" formControlName="childCount" min="0" />
    </div>
  </div>
  <div class="form-group row">
    <label [for]="location + 'siblingCount'" class="col-sm-6 col-form-label">Nombre de frères et soeurs</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" [id]="location + 'siblingCount'" formControlName="siblingCount" min="0" />
    </div>
  </div>
</div>
