<gl-page-title title="Changement de mot de passe"></gl-page-title>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Changement de mot de passe</h1>

    <div class="alert alert-danger" *ngIf="passwordChangeFailed">
      <button type="button" class="close" aria-label="Close" (click)="passwordChangeFailed = false">
        <span aria-hidden="true">&#215;</span>
      </button>
      Le mot de passe n'a pas été modifié.
    </div>

    <form (ngSubmit)="changePassword()" [formGroup]="passwordChangeForm">
      <div class="form-group">
        <label for="oldPassword" class="form-control-label">Mot de passe actuel</label>
        <input
          id="oldPassword"
          class="form-control"
          type="password"
          formControlName="oldPassword"
        />
        <val-errors controlName="oldPassword" label="Le mot de passe actuel"></val-errors>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="newPassword">Nouveau mot de passe</label>
        <input
          id="newPassword"
          class="form-control"
          type="password"
          formControlName="newPassword"
        />
        <val-errors controlName="newPassword" label="Le nouveau mot de passe"></val-errors>
      </div>

      <button class="btn btn-primary" type="submit" id="submit">Modifier</button>
    </form>
  </div>
</div>
