<h1>
  <ng-container *ngIf="editedPerson">Modification de l'adhérent <span [class.deleted]="editedPerson.deleted">{{ editedPerson | fullname }}</span></ng-container>
  <ng-container *ngIf="!editedPerson">Nouvel adhérent</ng-container>
</h1>

<form [formGroup]="personForm" #formDirective="ngForm" (ngSubmit)="formDirective.valid && save()">

  <h2>Identité</h2>

  <div class="form-group row">
    <label for="firstName" class="col-sm-3 col-form-label">Prénom</label>
    <div class="col-sm-9">
      <input class="form-control" id="firstName" placeholder="Prénom" formControlName="firstName">
      <div class="invalid-feedback" *ngIf="personForm.get('firstName').hasError('required')">Le prénom est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-3 col-form-label">Nom</label>
    <div class="col-sm-9">
      <input class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
      <div class="invalid-feedback" *ngIf="personForm.get('lastName').hasError('required')">Le nom est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birthName" class="col-sm-3 col-form-label">Nom de naissance</label>
    <div class="col-sm-9">
      <input class="form-control" id="birthName" placeholder="Nom de jeune fille" formControlName="birthName">
    </div>
  </div>
  <div class="form-group row">
    <label for="nickName" class="col-sm-3 col-form-label">Pseudo</label>
    <div class="col-sm-9">
      <input class="form-control" id="nickName" placeholder="Pseudo" formControlName="nickName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Genre</label>
    <div class="col-sm-9">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="gender" formControlName="gender">
        <label ngbButtonLabel class="btn btn-outline-secondary" *ngFor="let gender of genders">
          <input ngbButton name="gender" id="gender{{ gender }}" type="radio" [value]="gender"> {{ gender | displayGender }}
        </label>
      </div>
      <div class="invalid-feedback" *ngIf="personForm.get('gender').hasError('required')">Le genre est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birthDate" class="col-sm-3 col-form-label">Date de naissance</label>
    <gl-datepicker-container class="col-sm-9">
      <input class="form-control" id="birthDate" placeholder="23/12/1970"
             formControlName="birthDate" ngbDatepicker [minDate]="{year: 1900, month: 1}">
    </gl-datepicker-container>
  </div>

  <h2>Contact</h2>
  <div class="form-group row">
    <label for="address" class="col-sm-3 col-form-label">Adresse</label>
    <div class="col-sm-9">
      <input class="form-control" id="address" placeholder="Avenue de la République" formControlName="address">
    </div>
  </div>
  <div class="form-group row">
    <label for="city" class="col-sm-3 col-form-label">Ville</label>
    <div class="col-sm-9">
      <input class="form-control" id="city" placeholder="42000 SAINT ETIENNE" formControlName="city"
             [ngbTypeahead]="cityTypeahead.searcher" [resultFormatter]="cityTypeahead.formatter"
             [inputFormatter]="cityTypeahead.formatter" [editable]="false"
             [class.is-invalid]="cityTypeahead.searchFailed">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input class="form-control" type="email" id="email" placeholder="john@mail.com" formControlName="email">
      <div class="invalid-feedback" *ngIf="personForm.get('email').hasError('email')">L'email est invalide</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="phoneNumber" class="col-sm-3 col-form-label">Téléphone</label>
    <div class="col-sm-9">
      <input class="form-control" id="phoneNumber" placeholder="06 00 00 00 00" formControlName="phoneNumber">
    </div>
  </div>

  <h2>Médiation</h2>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Médiation activée pour cet adhérent</label>
    <div class="col-sm-9">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="gender" formControlName="mediationEnabled">
        <label ngbButtonLabel class="btn btn-outline-secondary" *ngFor="let value of [true, false]">
          <input ngbButton name="mediationEnabled" id="mediationEnabled{{ value }}" type="radio" [value]="value"> {{ value ? 'Oui' : 'Non' }}
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="personForm.value.mediationEnabled">
    <div class="form-group row">
      <label for="mediationCode" class="col-sm-3 col-form-label">Code de médiation</label>
      <div class="col-sm-9 text-muted form-control-static" id="mediationCode">
        Généré automatiquement
      </div>
    </div>

    <div class="form-group row">
      <label for="entryDate" class="col-sm-3 col-form-label">Date d'entrée en France</label>
      <gl-datepicker-container class="col-sm-9">
        <input class="form-control" id="entryDate" placeholder="01/01/2010"
               formControlName="entryDate" ngbDatepicker [minDate]="{year: 1900, month: 1}">
      </gl-datepicker-container>
    </div>

    <div class="form-group row">
      <label for="accompanying" class="col-sm-3 col-form-label">Accompagnant</label>
      <div class="col-sm-9">
        <input class="form-control" id="accompanying" placeholder="Accompagnant" formControlName="accompanying">
      </div>
    </div>

    <div class="form-group row">
      <label for="firstMediationAppointmentDate" class="col-sm-3 col-form-label">1<sup>er</sup> RDV médiation</label>
      <gl-datepicker-container class="col-sm-9">
        <input class="form-control" id="firstMediationAppointmentDate" placeholder="01/01/2017"
               formControlName="firstMediationAppointmentDate" ngbDatepicker [minDate]="{year: 2012, month: 1}">
      </gl-datepicker-container>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Statut marital</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="maritalStatus" id="maritalStatus">
          <option *ngFor="let ms of maritalStatuses" [value]="ms">{{ ms | displayMaritalStatus }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">En couple avec</label>
      <div class="col-sm-9">
        <input class="form-control" formControlName="spouse" id="spouse"
               [ngbTypeahead]="spouseTypeahead.searcher" [resultFormatter]="spouseTypeahead.formatter"
               [inputFormatter]="spouseTypeahead.formatter" [editable]="false" />
        <div class="warning-feedback" *ngIf="spouseIsInCouple">
          <span class="fa fa-warning"></span>
          {{ personForm.value.spouse | fullname }} est déjà en couple avec quelqu'un d'autre
        </div>
      </div>
    </div>

    <h3>Santé</h3>

    <div class="form-group row">
      <label for="socialSecurityNumber" class="col-sm-3 col-form-label">N° de Sécurité Sociale</label>
      <div class="col-sm-9">
        <input class="form-control" id="socialSecurityNumber" placeholder="275122184454143" formControlName="socialSecurityNumber">
      </div>
    </div>

    <div class="form-group row">
      <label for="cafNumber" class="col-sm-3 col-form-label">N° CAF</label>
      <div class="col-sm-9">
        <input class="form-control" id="cafNumber" placeholder="153214" formControlName="cafNumber">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-6">
        <div class="row">
          <label for="healthCareCoverage" class="col-sm-3 col-lg-6 col-form-label">Couverture médicale de base</label>
          <div class="col-sm-9 col-lg-6">
            <select class="form-control" formControlName="healthCareCoverage" id="healthCareCoverage">
              <option *ngFor="let hc of healthCareCoverages" [value]="hc">{{ hc | displayHealthCareCoverage }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-6" *ngIf="personForm.get('healthCareCoverage').value !== 'UNKNOWN'">
        <div class="row">
          <label for="healthCareCoverageStartDate" class="col-sm-3 col-lg-6 col-form-label">Depuis le</label>
          <gl-datepicker-container class="col-sm-9 col-lg-6">
            <input class="form-control" id="healthCareCoverageStartDate" placeholder="15/11/2014"
                   formControlName="healthCareCoverageStartDate" ngbDatepicker [minDate]="{year: 1900, month: 1}" />
          </gl-datepicker-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-6">
        <div class="row">
          <label for="healthInsurance" class="col-sm-3 col-lg-6 col-form-label">Couverture médicale complémentaire</label>

            <div class="col-sm-9 col-lg-6">
            <select class="form-control" formControlName="healthInsurance" id="healthInsurance">
              <option *ngFor="let hi of healthInsurances" [value]="hi">{{ hi | displayHealthInsurance }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-6" *ngIf="personForm.get('healthInsurance').value !== 'UNKNOWN'">
        <div class="row">
          <label for="healthInsuranceStartDate" class="col-sm-3 col-lg-6 col-form-label">Depuis le</label>
          <gl-datepicker-container class="col-sm-9 col-lg-6">
            <input class="form-control" id="healthInsuranceStartDate" placeholder="15/11/2014"
                   formControlName="healthInsuranceStartDate" ngbDatepicker [minDate]="{year: 1900, month: 1}" />
          </gl-datepicker-container>
        </div>
      </div>
    </div>

    <h3>Logement</h3>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="housing">Classe de logement</label>
      <div class="col-sm-9">
        <select id="housing" class="form-control" formControlName="housing">
          <option *ngFor="let housing of housings" [value]="housing">{{ housing | displayHousing }}</option>
        </select>
      </div>
    </div>
    <div *ngIf="personForm.value.housing !== 'UNKNOWN'" class="form-group row">
      <label for="housingSpace" class="col-sm-3 col-form-label">Surface du logement (m<sup>2</sup>)</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="housingSpace" formControlName="housingSpace" min="1" />
      </div>
    </div>
    <div class="form-group row">
      <label for="hostName" class="col-sm-3 col-form-label">Hébergé(e) par</label>
      <div class="col-sm-9">
        <input class="form-control" id="hostName" placeholder="Nom de la personne qui héberge" formControlName="hostName">
      </div>
    </div>

    <h3>Situation fiscale</h3>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Situation fiscale</label>
      <div class="col-sm-9">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="fiscalStatus" formControlName="fiscalStatus">
          <label ngbButtonLabel class="btn btn-outline-secondary" *ngFor="let fiscalStatus of fiscalStatuses">
            <input ngbButton name="fiscalStatus" id="fiscalStatus{{ fiscalStatus }}" type="radio" [value]="fiscalStatus"> {{ fiscalStatus | displayFiscalStatus }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="personForm.value.fiscalStatus !== 'UNKNOWN'">
      <label for="fiscalNumber" class="col-sm-3 col-form-label">N° fiscal</label>
      <div class="col-sm-9">
        <input class="form-control" id="fiscalNumber" placeholder="13 chiffres" formControlName="fiscalNumber">
        <div class="invalid-feedback" *ngIf="personForm.get('fiscalNumber').hasError('pattern')">Le n° fiscal doit être composé de 13 chiffres</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-sm-3">
        <div *ngIf="personForm.value.fiscalStatus !== 'UNKNOWN'" class="form-check">
          <input type="checkbox" class="form-check-input" id="fiscalStatusUpToDate" formControlName="fiscalStatusUpToDate" />
          <label class="form-check-label" for="fiscalStatusUpToDate">A jour</label>
        </div>
      </div>
    </div>

    <h3>Citoyenneté</h3>
    <div class="form-group row">
      <label for="nationality" class="col-sm-3 col-form-label">Nationalité</label>
      <div class="col-sm-9">
        <input class="form-control" id="nationality" placeholder="Pays" formControlName="nationality"
               [ngbTypeahead]="countryTypeahead.searcher" [resultFormatter]="countryTypeahead.formatter"
               [inputFormatter]="countryTypeahead.formatter" [editable]="false">
      </div>
    </div>

    <h3>Situation familiale</h3>
    <div class="row">
      <div class="col-md" id="frenchFamilySituation">
        <h4>En France</h4>
        <div *ngIf="!personForm.contains('frenchFamilySituation')">Inconnue &mdash; <button type="button" class="btn btn-outline-success btn-sm" (click)="showFrenchFamilySituation()">Renseigner</button></div>
        <div *ngIf="personForm.contains('frenchFamilySituation')"><button type="button" class="btn btn-outline-danger btn-sm" type="button" (click)="hideFrenchFamilySituation()">Rendre inconnue</button></div>
        <gl-family-situation-edit *ngIf="personForm.contains('frenchFamilySituation')" [situation]="personForm.get('frenchFamilySituation')" location="french"></gl-family-situation-edit>
      </div>

      <div class="col-md" id="abroadFamilySituation">
        <h4>Au pays</h4>
        <div *ngIf="!personForm.contains('abroadFamilySituation')">Inconnue &mdash; <button type="button" class="btn btn-outline-success btn-sm" (click)="showAbroadFamilySituation()">Renseigner</button></div>
        <div *ngIf="personForm.contains('abroadFamilySituation')"><button type="button" class="btn btn-outline-danger btn-sm" type="button" (click)="hideAbroadFamilySituation()">Rendre inconnue</button></div>
        <gl-family-situation-edit *ngIf="personForm.contains('abroadFamilySituation')" [situation]="personForm.get('abroadFamilySituation')" location="abroad"></gl-family-situation-edit>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary" id="save" type="submit">Enregistrer</button>
      <a class="btn btn-secondary" [routerLink]="editedPerson ? ['/persons', editedPerson.id] : '/persons'">Annuler</a>
    </div>
  </div>

</form>
