<h1>
  <ng-container *ngIf="editedPerson">Modification de l'adhérent {{ editedPerson.firstName }} {{ editedPerson.lastName }} <ng-container *ngIf="editedPerson.nickName">({{ editedPerson.nickName }})</ng-container></ng-container>
  <ng-container *ngIf="!editedPerson">Nouvel adhérent</ng-container>
</h1>

<form [formGroup]="personForm" (ngSubmit)="save()">

  <h2>Identité</h2>

  <div class="form-group row">
    <label for="firstName" class="col-sm-3 col-form-label">Prénom</label>
    <div class="col-sm-9">
      <input class="form-control" id="firstName" placeholder="Prénom" formControlName="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-3 col-form-label">Nom</label>
    <div class="col-sm-9">
      <input class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="nickName" class="col-sm-3 col-form-label">Pseudo</label>
    <div class="col-sm-9">
      <input class="form-control" id="nickName" placeholder="Pseudo" formControlName="nickName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Est adhérent</label>
    <div class="col-sm-9">
      <div ngbRadioGroup name="adherent" formControlName="adherent">
        <label ngbButtonLabel class="btn btn-secondary" *ngFor="let value of [true, false]">
          <input ngbButton name="adherent" id="adherent{{ value }}" type="radio" [value]="value"> {{ value ? 'Oui' : 'Non' }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Genre</label>
    <div class="col-sm-9">
      <div ngbRadioGroup name="gender" formControlName="gender">
        <label ngbButtonLabel class="btn btn-secondary" *ngFor="let gender of genders">
          <input ngbButton name="gender" id="gender{{ gender }}" type="radio" [value]="gender"> {{ gender | displayGender }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birthDate" class="col-sm-3 col-form-label">Date de naissance</label>
    <div class="col-sm-9 input-group">
      <div class="input-group-addon" (click)="d.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <input class="form-control" id="birthDate" placeholder="1970-01-01"
             formControlName="birthDate" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
    </div>
  </div>

  <h2>Contact</h2>
  <div class="form-group row">
    <label for="address" class="col-sm-3 col-form-label">Adresse</label>
    <div class="col-sm-9">
      <input class="form-control" id="address" placeholder="Avenue de la République" formControlName="address">
    </div>
  </div>
  <div class="form-group row" [class.has-danger]="searchFailed" [class.has-warning]="cityInput.value && !personForm.value.city">
    <label for="city" class="col-sm-3 col-form-label">Ville</label>
    <ng-template #resultTemplate let-result="result">{{ result | displayCity }}</ng-template>
    <div class="col-sm-9">
      <input #cityInput class="form-control" id="city" placeholder="42000 SAINT ETIENNE" formControlName="city"
             [ngbTypeahead]="search" [resultTemplate]="resultTemplate" [inputFormatter]="cityFormatter" [editable]="false"
             (blur)="clearIfNoCity(cityInput)" [class.form-control-warning]="cityInput.value && !personForm.value.city">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input class="form-control" id="email" placeholder="john@mail.com" formControlName="email">
    </div>
  </div>
  <div class="form-group row">
    <label for="phoneNumber" class="col-sm-3 col-form-label">Téléphone</label>
    <div class="col-sm-9">
      <input class="form-control" id="phoneNumber" placeholder="06 00 00 00 00" formControlName="phoneNumber">
    </div>
  </div>

  <h2>Médiation</h2>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Médiation activée pour cet adhérent</label>
    <div class="col-sm-9">
      <div ngbRadioGroup name="gender" formControlName="mediationEnabled">
        <label ngbButtonLabel class="btn btn-secondary" *ngFor="let value of [true, false]">
          <input ngbButton name="mediationEnabled" id="mediationEnabled{{ value }}" type="radio" [value]="value"> {{ value ? 'Oui' : 'Non' }}
        </label>
      </div>
    </div>
  </div>

  <ng-container *ngIf="personForm.value.mediationEnabled">
    <div class="form-group row">
      <label for="mediationCode" class="col-sm-3 col-form-label">Code de médiation</label>
      <div class="col-sm-9 text-muted form-control-static" id="mediationCode">
        Généré automatiquement
      </div>
    </div>

    <div class="form-group row">
      <label for="entryDate" class="col-sm-3 col-form-label">Date d'entrée en France</label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon" (click)="ed.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <input class="form-control" id="entryDate" placeholder="2010-01-01"
               formControlName="entryDate" ngbDatepicker #ed="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Statut marital</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="maritalStatus" id="maritalStatus">
          <option *ngFor="let ms of maritalStatuses" [value]="ms">{{ ms | displayMaritalStatus }}</option>
        </select>
      </div>
    </div>

    <h3>Logement</h3>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="housing">Classe de logement</label>
      <div class="col-sm-9">
        <select id="housing" class="form-control" formControlName="housing">
          <option *ngFor="let housing of housings" [value]="housing">{{ housing | displayHousing }}</option>
        </select>
      </div>
    </div>
    <div *ngIf="personForm.value.housing !== 'UNKNOWN'" class="form-group row">
      <label for="housingSpace" class="col-sm-3 col-form-label">Surface du logement (m<sup>2</sup>)</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="housingSpace" formControlName="housingSpace" min="1" />
      </div>
    </div>

    <h3>Situation fiscale</h3>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Situation fiscale</label>
      <div class="col-sm-9">
        <div ngbRadioGroup name="fiscalStatus" formControlName="fiscalStatus">
          <label ngbButtonLabel class="btn btn-secondary" *ngFor="let fiscalStatus of fiscalStatuses">
            <input ngbButton name="fiscalStatus" id="fiscalStatus{{ fiscalStatus }}" type="radio" [value]="fiscalStatus"> {{ fiscalStatus | displayFiscalStatus }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="personForm.value.fiscalStatus !== 'UNKNOWN'">
      <label for="fiscalStatusDate" class="col-sm-3 col-form-label">Date de mise en place</label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon" (click)="fsd.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <input class="form-control" id="fiscalStatusDate" placeholder="2010-01-01"
               formControlName="fiscalStatusDate" ngbDatepicker #fsd="ngbDatepicker" [minDate]="{year: 1990, month: 1}">
      </div>
    </div>
    <div *ngIf="personForm.value.fiscalStatus !== 'UNKNOWN'" class="form-check row">
      <div class="col-sm-9 offset-sm-3">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="fiscalStatusUpToDate" formControlName="fiscalStatusUpToDate" />
          A jour
        </label>
      </div>
    </div>

    <h3>Situation familiale</h3>
    <div class="row">
      <div class="col-md" id="frenchFamilySituation">
        <h4>En France</h4>
        <div *ngIf="!personForm.contains('frenchFamilySituation')">Inconnue &mdash; <button type="button" class="btn btn-outline-success btn-sm" (click)="showFrenchFamilySituation()">Renseigner</button></div>
        <div *ngIf="personForm.contains('frenchFamilySituation')"><button type="button" class="btn btn-outline-danger btn-sm" type="button" (click)="hideFrenchFamilySituation()">Rendre inconnue</button></div>
        <gl-family-situation-edit *ngIf="personForm.contains('frenchFamilySituation')" [situation]="personForm.get('frenchFamilySituation')" location="french"></gl-family-situation-edit>
      </div>

      <div class="col-md" id="abroadFamilySituation">
        <h4>Au pays</h4>
        <div *ngIf="!personForm.contains('abroadFamilySituation')">Inconnue &mdash; <button type="button" class="btn btn-outline-success btn-sm" (click)="showAbroadFamilySituation()">Renseigner</button></div>
        <div *ngIf="personForm.contains('abroadFamilySituation')"><button type="button" class="btn btn-outline-danger btn-sm" type="button" (click)="hideAbroadFamilySituation()">Rendre inconnue</button></div>
        <gl-family-situation-edit *ngIf="personForm.contains('abroadFamilySituation')" [situation]="personForm.get('abroadFamilySituation')" location="abroad"></gl-family-situation-edit>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary" type="submit" [disabled]="personForm.invalid">Enregistrer</button>
      <a class="btn btn-secondary" routerLink="/persons">Annuler</a>
    </div>
  </div>

</form>
