<form [formGroup]="personForm" (ngSubmit)="update()">
  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-10">
      <input class="form-control" id="firstName" placeholder="Prénom" formControlName="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="nickName" class="col-sm-2 col-form-label">Pseudo</label>
    <div class="col-sm-10">
      <input class="form-control" id="nickName" placeholder="Pseudo" formControlName="nickName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Genre</label>
    <div class="col-sm-10">
      <div ngbRadioGroup name="gender" formControlName="gender">
        <label class="btn btn-secondary">
          <input id="genderMale" type="radio" value="male"> Homme
        </label>
        <label class="btn btn-secondary">
          <input id="genderFemale" type="radio" value="female"> Femme
        </label>
        <label class="btn btn-secondary">
          <input id="genderOther" type="radio" value="other"> Autre
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birthDate" class="col-sm-2 col-form-label">Date de naissance</label>
    <div class="col-sm-10 input-group">
      <div class="input-group-addon" (click)="d.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <input class="form-control" id="birthDate" placeholder="1970-01-01"
             formControlName="birthDate" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
    </div>
  </div>
  <div class="form-group row">
    <label for="mediationCode" class="col-sm-2 col-form-label">Code de médiation</label>
    <div class="col-sm-10 text-muted form-control-static" id="mediationCode">
      Généré automatiquement
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Adresse</label>
    <div class="col-sm-10">
      <input class="form-control" id="address" placeholder="Avenue de la République" formControlName="address">
    </div>
  </div>
  <div class="form-group row" [class.has-danger]="searchFailed">
    <label for="city" class="col-sm-2 col-form-label">Ville</label>
    <ng-template #resultTemplate let-result="result">{{ result | displayCity }}</ng-template>
    <div class="col-sm-10">
      <input class="form-control" id="city" placeholder="42000 SAINT ETIENNE" formControlName="city"
             [ngbTypeahead]="search" [resultTemplate]="resultTemplate" [inputFormatter]="cityFormatter">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input class="form-control" id="email" placeholder="john@mail.com" formControlName="email">
    </div>
  </div>
  <div class="form-group row">
    <label for="phoneNumber" class="col-sm-2 col-form-label">Téléphone</label>
    <div class="col-sm-10">
      <input class="form-control" id="phoneNumber" placeholder="06 00 00 00 00" formControlName="phoneNumber">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Statut marital</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="maritalStatus" id="maritalStatus">
        <option value=""></option>
        <option *ngFor="let ms of maritalStatuses" [value]="ms">{{ ms | displayMaritalStatus }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Est adhérent</label>
    <div class="col-sm-10">
      <div ngbRadioGroup name="adherent" formControlName="adherent">
        <label class="btn btn-secondary">
          <input id="adherentYes" type="radio" [value]="true"> Oui
        </label>
        <label class="btn btn-secondary">
          <input id="adherentNo" type="radio" [value]="false"> Non
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="entryDate" class="col-sm-2 col-form-label">Date d'entrée en France</label>
    <div class="col-sm-10 input-group">
      <div class="input-group-addon" (click)="ed.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <input class="form-control" id="entryDate" placeholder="2010-01-01"
             formControlName="entryDate" ngbDatepicker #ed="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-2">
      <button class="btn btn-primary" type="submit" [disabled]="personForm.invalid">Enregister</button>
      <a class="btn btn-secondary" routerLink="/persons">Annuler</a>
    </div>
  </div>

</form>
