<h1 *ngIf="!editedTask">Nouvelle tâche</h1>
<h1 *ngIf="editedTask">Modification de la tâche <em>{{ editedTask.title }}</em></h1>

<form (ngSubmit)="taskForm.valid && save()" #taskForm="ngForm">
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label">Catégorie</label>
    <div class="col-sm-9">
      <select class="form-control" id="category" name="category" [(ngModel)]="task.category" required #categoryCtrl="ngModel">
        <option></option>
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>
      <div class="invalid-feedback" *ngIf="categoryCtrl.hasError('required')">La catégorie est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Libellé</label>
    <div class="col-sm-9">
      <input class="form-control" id="title" name="title" [(ngModel)]="task.title" required #titleCtrl="ngModel"/>
      <div class="invalid-feedback" *ngIf="titleCtrl.hasError('required')">Le libellé est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <textarea class="form-control" id="description" name="description" [(ngModel)]="task.description" required
                style="height: 12rem;" #descriptionCtrl="ngModel"></textarea>
      <div class="invalid-feedback" *ngIf="descriptionCtrl.hasError('required')">La description est obligatoire</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="dueDate" class="col-sm-3 col-form-label">Echéance</label>
    <div class="col-sm-9 input-group">
      <div class="input-group-prepend" (click)="d.toggle()">
        <span class="input-group-text fa fa-calendar" aria-hidden="true"></span>
      </div>
      <input class="form-control" id="dueDate" name="dueDate" [(ngModel)]="task.dueDate" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 2017, month: 1}" />
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Concerne</label>
    <div class="col-sm-9">
      <input class="form-control" id="concernedPerson" name="concernedPerson" [(ngModel)]="task.concernedPerson"
             [ngbTypeahead]="personTypeahead.searcher" [resultFormatter]="personTypeahead.formatter"
             [inputFormatter]="personTypeahead.formatter" [editable]="false" />
    </div>
  </div>
  <div class="form-group row">
    <label for="assignee" class="col-sm-3 col-form-label">Assignée à</label>
    <div class="col-sm-9">
      <select class="form-control" id="assignee" name="assignee" [(ngModel)]="task.assignee">
        <option></option>
        <hr/>
        <ng-container *ngFor="let user of users; let index = index">
          <option [ngValue]="user">{{ formatUser(user) }}</option>
          <hr *ngIf="index === 0" />
        </ng-container>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary" id="save">Enregistrer</button>
      <a class="btn btn-secondary" [routerLink]="cancelOrRedirectDestination" id="cancel">Annuler</a>
    </div>
  </div>
</form>
