<h1 *ngIf="!editedTask">Nouvelle tâche</h1>
<h1 *ngIf="editedTask">Modification de la tâche <em>{{ editedTask.title }}</em></h1>

<form (ngSubmit)="save()" [formGroup]="taskForm">
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label">Catégorie</label>
    <div class="col-sm-9">
      <select class="form-control" id="category" formControlName="category">
        <option></option>
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>
      <gl-validation-errors [control]="taskForm.get('category')">
        <div *ngIf="taskForm.get('category').hasError('required')">La catégorie est obligatoire</div>
      </gl-validation-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Libellé</label>
    <div class="col-sm-9">
      <input class="form-control" id="title" formControlName="title" />
      <gl-validation-errors [control]="taskForm.get('title')">
        <div *ngIf="taskForm.get('title').hasError('required')">Le libellé est obligatoire</div>
      </gl-validation-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <textarea class="form-control" id="description" formControlName="description" style="height: 12rem;"></textarea>
      <gl-validation-errors [control]="taskForm.get('description')">
        <div *ngIf="taskForm.get('description').hasError('required')">La description est obligatoire</div>
      </gl-validation-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="dueDate" class="col-sm-3 col-form-label">Echéance</label>
    <gl-datepicker-container class="col-sm-9">
      <input class="form-control" id="dueDate" formControlName="dueDate" ngbDatepicker [minDate]="{year: 2017, month: 1}" />
    </gl-datepicker-container>
  </div>
  <div class="form-group row">
    <label for="concernedPerson" class="col-sm-3 col-form-label">Concerne</label>
    <div class="col-sm-9">
      <input class="form-control" id="concernedPerson" formControlName="concernedPerson"
             [ngbTypeahead]="personTypeahead.searcher" [resultFormatter]="personTypeahead.formatter"
             [inputFormatter]="personTypeahead.formatter" [editable]="false" />
    </div>
  </div>
  <div class="form-group row">
    <label for="assignee" class="col-sm-3 col-form-label">Assignée à</label>
    <div class="col-sm-9">
      <select class="form-control" id="assignee" formControlName="assignee">
        <option></option>
        <hr/>
        <ng-container *ngFor="let user of users; let index = index">
          <option [ngValue]="user">{{ formatUser(user) }}</option>
          <hr *ngIf="index === 0" />
        </ng-container>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary mr-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" [routerLink]="cancelOrRedirectDestination" id="cancel">Annuler</a>
    </div>
  </div>
</form>
