<gl-page-title
  *ngIf="editedTask"
  [title]="'Modification de la tâche ' + editedTask.title"
></gl-page-title>
<gl-page-title *ngIf="!editedTask" title="Nouvelle tâche"></gl-page-title>

<h1 *ngIf="editedTask">
  Modification de la tâche <em>{{ editedTask.title }}</em>
</h1>
<h1 *ngIf="!editedTask">Nouvelle tâche</h1>

<form (ngSubmit)="save()" [formGroup]="taskForm">
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label">Catégorie</label>
    <div class="col-sm-9">
      <select class="form-control" id="category" formControlName="category">
        <option [ngValue]="null"></option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
      <val-errors controlName="category" label="La catégorie"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Libellé</label>
    <div class="col-sm-9">
      <input class="form-control" id="title" formControlName="title" />
      <val-errors controlName="title" label="Le libellé"></val-errors>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        style="height: 12rem"
      ></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="dueDate" class="col-sm-3 col-form-label">Echéance</label>
    <gl-datepicker-container class="col-sm-9">
      <input
        class="form-control"
        id="dueDate"
        formControlName="dueDate"
        ngbDatepicker
        [minDate]="{ year: 2017, month: 1, day: 1 }"
      />
    </gl-datepicker-container>
  </div>
  <div class="form-group row">
    <label for="concernedPerson" class="col-sm-3 col-form-label">Concerne</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        id="concernedPerson"
        formControlName="concernedPerson"
        [ngbTypeahead]="personTypeahead.searcher"
        [resultFormatter]="personTypeahead.formatter"
        [inputFormatter]="personTypeahead.formatter"
        [editable]="false"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="assignee" class="col-sm-3 col-form-label">Assignée à</label>
    <div class="col-sm-9">
      <select class="form-control" id="assignee" formControlName="assignee">
        <option [ngValue]="null"></option>
        <hr />
        <ng-container *ngFor="let user of users; let index = index">
          <option [ngValue]="user">{{ formatUser(user) }}</option>
          <hr *ngIf="index === 0" />
        </ng-container>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-primary mr-2" id="save">Enregistrer</button>
      <a class="btn btn-secondary" [routerLink]="cancelOrRedirectDestination" id="cancel"
        >Annuler</a
      >
    </div>
  </div>
</form>
