<h1>Réinitialisation du mot de passe</h1>

<div *ngIf="!updatedUser" id="password-reset-form">
  <p>Êtes-vous sûr de vouloir réinitialiser le mot de passe de {{ user.login }}&nbsp;?</p>
  <div>
    <button (click)="resetPassword()" id="password-reset-button" class="btn btn-primary">Oui, réinitialiser</button>
    <a routerLink="/users" class="btn btn-secondary">Non, annuler</a>
  </div>
</div>

<ngb-alert type="success" [dismissible]="false" *ngIf="updatedUser" id="updated-user">
  Le mot de passe a été réinitialisé. Voici le nouveau mot de passe à transmettre à {{ user.login }}&nbsp;:
  <p>
    <strong>
      Mot de passe&nbsp;: <code>{{ updatedUser.generatedPassword }}</code>
    </strong>
  </p>
</ngb-alert>
