<gl-page-title [title]="(person | fullname) + ': Éditer la situation familiale'"></gl-page-title>
<h1>Éditer la situation familiale de {{ person | fullname }}</h1>

<form [formGroup]="familyForm" (ngSubmit)="save()">
  <div class="form-group">
    <label class="form-label">Époux(se)</label>
    <div class="ms-3">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="spouseInFrance"
          value="FRANCE"
          name="spouseLocation"
          formControlName="spouseLocation"
        />
        <label class="form-check-label" for="spouseInFrance">en France</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="spouseAbroad"
          value="ABROAD"
          name="spouseLocation"
          formControlName="spouseLocation"
        />
        <label class="form-check-label" for="spouseAbroad">au Pays</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="noSpouse"
          [value]="null"
          name="spouseLocation"
          formControlName="spouseLocation"
        />
        <label class="form-check-label" for="noSpouse">Pas d'époux(se)</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label">Enfants, frères et soeurs</label>
    <div class="ms-3" formArrayName="relatives">
      <div *ngFor="let relative of relatives.controls; index as i" [formGroupName]="i" class="mb-2">
        <div class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-12">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="Prénom"
                formControlName="firstName"
                [id]="'relativeFirstName' + i"
              />
              <span class="input-group-text" style="width: 5rem" [id]="'relativeType' + i">
                <ng-container *ngIf="relative.value.type === 'CHILD'">Enfant</ng-container>
                <ng-container *ngIf="relative.value.type === 'BROTHER'">Frère</ng-container>
                <ng-container *ngIf="relative.value.type === 'SISTER'">Soeur</ng-container>
              </span>
            </div>
          </div>

          <div class="col-12">
            <gl-datepicker-container>
              <input
                class="form-control"
                placeholder="Date de naissance"
                formControlName="birthDate"
                [id]="'relativeBirthDate' + i"
                ngbDatepicker
                [minDate]="{ year: 1900, month: 1, day: 1 }"
              />
            </gl-datepicker-container>
          </div>

          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                [id]="'relativeLocationFrance' + i"
                formControlName="location"
                value="FRANCE"
              />
              <label class="form-check-label" [for]="'relativeLocationFrance' + i">en France</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                [id]="'relativeLocationAbroad' + i"
                formControlName="location"
                value="ABROAD"
              />
              <label class="form-check-label" [for]="'relativeLocationAbroad' + i">au Pays</label>
            </div>
          </div>

          <div class="col-12">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="removeRelative(i)"
              [id]="'removeRelative' + i"
            >
              <span class="fa fa-trash"></span>&ngsp;Supprimer
            </button>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary btn-sm me-1"
        (click)="addRelative('CHILD')"
        id="add-child"
      >
        <span class="fa fa-plus"></span>
        Ajouter un enfant
      </button>
      <button
        type="button"
        class="btn btn-secondary btn-sm me-1"
        (click)="addRelative('BROTHER')"
        id="add-brother"
      >
        <span class="fa fa-plus"></span>
        Ajouter un frère
      </button>
      <button
        type="button"
        class="btn btn-secondary btn-sm me-1"
        (click)="addRelative('SISTER')"
        id="add-sister"
      >
        <span class="fa fa-plus"></span>
        Ajouter une soeur
      </button>
    </div>
  </div>

  <div class="form-group mt-4">
    <button class="btn btn-primary me-2" id="save">Enregistrer</button>
    <a class="btn btn-danger" [routerLink]="['/persons', person.id, 'family']">Annuler</a>
  </div>
</form>
