<div class="read-only-form">
  <div class="form-group row">
    <label class="col col-form-label">Époux(se) présent(e)</label>
    <div class="col">
      <p class="form-control-plaintext">{{ situation.spousePresent ? 'Oui' : 'Non' }}</p>
    </div>
  </div>
  <div class="form-group" *ngIf="situation.children.length">
    <label>{{ situation.children.length }} enfant(s)</label>
    <ul class="children">
      <li *ngFor="let child of situation.children">
        <gl-relative [relative]="child"></gl-relative>
      </li>
    </ul>
  </div>
  <div class="form-group" *ngIf="situation.brothers.length">
    <label>{{ situation.brothers.length }} frère(s)</label>
    <ul class="brothers">
      <li *ngFor="let brother of situation.brothers">
        <gl-relative [relative]="brother"></gl-relative>
      </li>
    </ul>
  </div>
  <div class="form-group" *ngIf="situation.sisters.length">
    <label>{{ situation.sisters.length }} soeur(s)</label>
    <ul class="sisters">
      <li *ngFor="let sister of situation.sisters">
        <gl-relative [relative]="sister"></gl-relative>
      </li>
    </ul>
  </div>
</div>
