// make the placeholders lighter
$input-placeholder-color: #dcdedf;
// remove decoration of links
$link-decoration: none;

$enable-validation-icons: false;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
