/* You can add global styles to this file, and also import other style files */
@import 'custom-bootstrap';

h1 {
  margin-bottom: $spacer * 1.5;
}

/**
 * When displaying data using form groups, which thus don't contain any input field,
 * surround them with a .read-only container, to reduce the too large space between rows
 */
.read-only-form .form-group {
  margin-bottom: 0;
}

.form-control.is-warning {
  border-color: $yellow;
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($yellow,.25);
  }
}

ngb-datepicker-navigation button {
  border: none;
}
