@import 'custom-bootstrap';

h1 {
  margin-bottom: $spacer * 1.5;
}

/**
 * When displaying data using form groups, which thus don't contain any input field,
 * surround them with a .read-only container, to reduce the too large space between rows
 */
.read-only-form .form-group {
  margin-bottom: 0;
}

.form-control.is-warning {
  border-color: $yellow;
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($yellow,.25);
  }
}

.warning-feedback {
  margin-top: .25rem;
  font-size: .875rem;
  color: $warning;
}

.btn-group label {
  margin-bottom: 0;
}

.btn-group.is-invalid {
  label {
    border: 1px solid $red;
    &:focus {
      box-shadow: 0 0 0 .2rem rgba($red,.25);
    }
  }

  ~ .#{invalid}-feedback {
    display: block;
  }
}

// temporary fix for https://github.com/twbs/bootstrap/issues/25158
.btn-outline-secondary:not([disabled]):not(.disabled).active {
  color: $white;
}

.deleted {
  color: $danger;
  text-decoration: line-through;
}
.footer-chuck {
  height: 14px;
  vertical-align: text-bottom;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: $gray-100;
}
