server:
  port: 9000
  compression:
    enabled: true
    mime-types:
      - application/json
      - application/javascript
      - text/html
      - text/css
      - text/plain
      - image/gif
spring:
  datasource:
    url: jdbc:postgresql:globe42
    username: globe42
    password: globe42
    hikari:
      maximum-pool-size: 4
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  jpa:
    open-in-view: false
management:
  endpoint:
    health:
      show-details: 'always'
  endpoints:
    web:
      exposure:
        include: '*'
logging:
   level:
      # Hides HHH000424: Disabling contextual LOB creation as createClob() method threw error
      org.hibernate.engine.jdbc.env.internal.LobCreatorBuilderImpl: WARN
