<form [formGroup]="userForm" (ngSubmit)="update()">
  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-10">
      <input class="form-control" id="firstName" placeholder="Prénom" formControlName="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="surName" class="col-sm-2 col-form-label">Pseudo</label>
    <div class="col-sm-10">
      <input class="form-control" id="surName" placeholder="Pseudo" formControlName="surName">
    </div>
  </div>
  <div class="form-group row">
    <label for="birthDate" class="col-sm-2 col-form-label">Date de naissance</label>
    <div class="col-sm-10 input-group">
      <div class="input-group-addon" (click)="d.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <input class="form-control" id="birthDate" placeholder="1970-01-01"
             formControlName="birthDate" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
    </div>
  </div>
  <div class="form-group row">
    <label for="mediationCode" class="col-sm-2 col-form-label">Code de médiation</label>
    <div class="col-sm-10">
      <input class="form-control" id="mediationCode" placeholder="code" formControlName="mediationCode">
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Adresse</label>
    <div class="col-sm-10">
      <input class="form-control" id="address" placeholder="Avenue de la République" formControlName="address">
    </div>
  </div>
  <div class="form-group row">
    <label for="zipCode" class="col-sm-2 col-form-label">Code postal</label>
    <div class="col-sm-10">
      <input class="form-control" type="number" id="zipCode" placeholder="42000" formControlName="zipCode">
    </div>
  </div>
  <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">Ville</label>
    <div class="col-sm-10">
      <input class="form-control" id="city" placeholder="Saint Etienne" formControlName="city">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input class="form-control" id="email" placeholder="john@mail.com" formControlName="email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Est adhérent</label>
    <div class="col-sm-10">
      <div ngbRadioGroup name="isAdherent" formControlName="isAdherent">
        <label class="btn btn-secondary">
          <input id="isAdherentYes" type="radio" [value]="true"> Oui
        </label>
        <label class="btn btn-secondary">
          <input id="isAdherentNo" type="radio" [value]="false"> Non
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="entryDate" class="col-sm-2 col-form-label">Date d'entrée en France</label>
    <div class="col-sm-10 input-group">
      <div class="input-group-addon" (click)="ed.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <input class="form-control" id="entryDate" placeholder="2010-01-01"
             formControlName="entryDate" ngbDatepicker #ed="ngbDatepicker" [minDate]="{year: 1900, month: 1}">
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Enregister</button>
  <a class="btn btn-secondary" routerLink="/users">Annuler</a>
</form>
