<gl-page-title title="Organismes payeurs"></gl-page-title>
<h1>Organismes payeurs</h1>

<div class="row mb-2 align-items-center income-type-item" *ngFor="let incomeType of incomeTypes">
  <div class="col-sm"><a [routerLink]="['/income-types', incomeType.id, 'edit']">{{ incomeType.type }}</a></div>
  <div class="col-sm text-right">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/income-types', incomeType.id, 'edit']">
      <span class="fa fa-edit"></span>
      Éditer
    </a>
  </div>
</div>

<a class="btn btn-outline-primary" routerLink="/income-types/create">
  <span class="fa fa-plus"></span>
  Nouvel organisme
</a>
