<ng-container *ngIf="editedActivity">
  <gl-page-title title="Modifier une activité"></gl-page-title>
  <h1>Modifier une activité</h1>
</ng-container>
<ng-container *ngIf="!editedActivity">
  <gl-page-title title="Créer une activité"></gl-page-title>
  <h1>Créer une activité</h1>
</ng-container>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label for="type" class="form-label">Type d'activité</label>
        <select formControlName="type" class="form-select" id="type">
          <option [ngValue]="null"></option>
          <option *ngFor="let activityType of activityTypes" [ngValue]="activityType.key">
            {{ activityType.name }}
          </option>
        </select>
        <val-errors controlName="type" label="Le type d'activité"></val-errors>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <label for="date" class="form-label">Date de l'activité</label>
        <gl-datepicker-container>
          <input
            class="form-control"
            id="date"
            placeholder="23/12/2023"
            formControlName="date"
            ngbDatepicker
          />
        </gl-datepicker-container>
        <val-errors controlName="date" label="La date de l'activité"></val-errors>
      </div>
    </div>
  </div>

  <h2>Participants</h2>

  <div class="row">
    <div class="col-sm">
      <h3>Absents</h3>
      <div class="scrollable-list border rounded p-2">
        <ul class="list-unstyled">
          <li
            *ngFor="let person of choosablePersons$ | async"
            class="p-1 d-flex rounded align-items-baseline absent-item"
            (dblclick)="choosePerson(person)"
          >
            <div class="flex-grow-1">{{ person | fullname: fullnameOption }}</div>
            <div class="ms-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-success add-present-button"
                (click)="choosePerson(person)"
              >
                <span class="visually-hidden">
                  Ajouter {{ person | fullname: fullnameOption }} aux présents
                </span>
                <span class="fa fa-plus-circle"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-check form-switch">
        <input
          [formControl]="showAllPersonsCtrl"
          type="checkbox"
          class="form-check-input"
          id="show-all-persons"
        />
        <label class="form-check-label" for="show-all-persons">Afficher toutes les personnes</label>
      </div>
      <div class="form-check form-switch">
        <input
          [formControl]="startWithFirstNameOptionCtrl"
          type="checkbox"
          class="form-check-input"
          id="start-with-first-name"
        />
        <label class="form-check-label" for="start-with-first-name">
          Afficher le prénom avant le nom
        </label>
      </div>
    </div>
    <div class="col-sm">
      <h3>
        Présents
        <small
          ><span class="badge bg-success">{{
            form.value.participants.length | number
          }}</span></small
        >
      </h3>
      <div class="scrollable-list border rounded p-2">
        <ul class="list-unstyled">
          <li
            *ngFor="let person of form.value.participants"
            class="p-1 d-flex rounded align-items-baseline present-item"
            (dblclick)="unchoosePerson(person)"
          >
            <span class="flex-grow-1">{{ person | fullname: fullnameOption }}</span>
            <div class="ms-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-danger remove-present-button"
                (click)="unchoosePerson(person)"
              >
                <span class="visually-hidden">
                  Enlever {{ person | fullname: fullnameOption }} des présents
                </span>
                <span class="fa fa-times-circle"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group mt-2">
    <button class="btn btn-primary me-2" id="save-button">Enregistrer</button>
    <a
      class="btn btn-secondary"
      *ngIf="editedActivity"
      [routerLink]="['/activities', editedActivity.id]"
    >
      Annuler
    </a>
    <a class="btn btn-secondary" *ngIf="!editedActivity" [routerLink]="['/activities']">Annuler</a>
  </div>
</form>
