<gl-page-title [title]="(person | fullname) + ': Adhésion'"></gl-page-title>
<h2>Adhésion de l'année en cours ({{ currentYear }})</h2>

<div *ngIf="!currentMembership" id="no-current-membership">
  <ngb-alert [dismissible]="false" type="warning">
    Pas d'adhésion pour l'année en cours.
  </ngb-alert>
  <div class="text-right">
    <a
      class="btn btn-outline-primary"
      target="membershipprint"
      href="/persons/{{ person.id }}/membership-print"
    >
      Imprimer une fiche d'adhésion
      <sup class="fa fa-external-link small"></sup>
    </a>
  </div>

  <h3>Enregistrer l'adhésion</h3>

  <form [formGroup]="membershipForm" (ngSubmit)="createCurrentMembership()">
    <div class="row form-group">
      <label for="paymentMode" class="col-form-label col-sm-3">Paiement par</label>
      <div class="col-sm-9">
        <select class="form-control" id="paymentMode" formControlName="paymentMode">
          <option [value]="null"></option>
          <option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">
            {{ paymentMode | displayPaymentMode }}
          </option>
        </select>
        <val-errors controlName="paymentMode" label="Le mode de paiement"></val-errors>
      </div>
    </div>

    <div class="row form-group">
      <label for="paymentDate" class="col-form-label col-sm-3">le</label>
      <div class="col-sm-9">
        <gl-datepicker-container>
          <input
            class="form-control"
            id="paymentDate"
            formControlName="paymentDate"
            ngbDatepicker
            [minDate]="{ year: currentYear, month: 1, day: 1 }"
          />
          <val-errors controlName="paymentDate" label="La date de paiement">
            <ng-template valError="min" let-label
              >{{ label }} doit être dans l'année en cours</ng-template
            >
          </val-errors>
        </gl-datepicker-container>
      </div>
    </div>

    <div class="row form-group">
      <label for="cardNumber" class="col-form-label col-sm-3">Carte n°</label>
      <div class="col-sm-9">
        <input class="form-control" id="cardNumber" formControlName="cardNumber" />
        <val-errors controlName="cardNumber" label="Le n° de carte"></val-errors>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-3 col">
        <button type="submit" class="btn btn-primary" id="save">Enregistrer</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="currentMembership" id="current-membership">
  <ngb-alert [dismissible]="false" type="info">
    Payée ({{ currentMembership.paymentMode | displayPaymentMode }}) le
    {{ currentMembership.paymentDate | date }}.
    <br />
    <ng-container *ngIf="currentMembership.cardNumber"
      >Carte n° {{ currentMembership.cardNumber }}.</ng-container
    >
    <ng-container *ngIf="!currentMembership.cardNumber">N° de carte inconnu.</ng-container>
  </ngb-alert>
  <div class="text-right">
    <button
      type="button"
      class="btn btn-danger"
      id="delete-button"
      (click)="deleteCurrentMembership()"
    >
      <span class="fa fa-trash"></span>
      Supprimer l'adhésion en cours
    </button>
  </div>
</div>

<div>
  <h2>Adhésions des années antérieures</h2>
  <table
    id="old-memberships"
    class="table table-striped"
    *ngIf="oldMemberships.length; else noOldMembership"
  >
    <thead>
      <tr>
        <th>Année</th>
        <th>Mode de paiement</th>
        <th>Date de paiement</th>
        <th>N° de carte</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membership of oldMemberships">
        <td>{{ membership.year }}</td>
        <td>{{ membership.paymentMode | displayPaymentMode }}</td>
        <td>{{ membership.paymentDate | date }}</td>
        <td>{{ membership.cardNumber }}</td>
        <td class="text-right">
          <button
            type="button"
            class="btn btn-sm btn-danger delete-old-button"
            (click)="deleteOldMembership(membership)"
          >
            <span class="sr-only">Supprimer l'adhésion</span>
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noOldMembership>
    <p>Aucune adhésion antérieure</p>
  </ng-template>

  <button
    *ngIf="choosableOldMembershipYears.length && !oldMembershipFormVisible"
    class="btn btn-outline-secondary"
    id="display-old-membership-form-button"
    (click)="displayOldMembershipForm()"
  >
    <span class="fa fa-plus mr-1"></span>
    Ajouter une adhésion pour une année antérieure
  </button>

  <form
    *ngIf="oldMembershipFormVisible"
    [formGroup]="oldMembershipForm"
    (ngSubmit)="createOldMembership()"
    class="mt-4"
    id="old-membership-form"
  >
    <div class="row form-group">
      <label for="oldYear" class="col-form-label col-sm-3">Adhésion pour l'année</label>
      <div class="col-sm-9">
        <select class="form-control" id="oldYear" formControlName="year">
          <option [ngValue]="null"></option>
          <option *ngFor="let year of choosableOldMembershipYears" [ngValue]="year">
            {{ year }}
          </option>
        </select>
        <val-errors controlName="year" label="L'année"></val-errors>
      </div>
    </div>

    <div class="row form-group">
      <label for="oldPaymentMode" class="col-form-label col-sm-3">Paiement par</label>
      <div class="col-sm-9">
        <select class="form-control" id="oldPaymentMode" formControlName="paymentMode">
          <option [value]="null"></option>
          <option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">
            {{ paymentMode | displayPaymentMode }}
          </option>
        </select>
        <val-errors controlName="paymentMode" label="Le mode de paiement"></val-errors>
      </div>
    </div>

    <div class="row form-group">
      <label for="oldPaymentDate" class="col-form-label col-sm-3">le</label>
      <div class="col-sm-9">
        <gl-datepicker-container>
          <input
            class="form-control"
            id="oldPaymentDate"
            formControlName="paymentDate"
            ngbDatepicker
          />
          <val-errors controlName="paymentDate" label="La date de paiement"></val-errors>
        </gl-datepicker-container>
      </div>
    </div>

    <div class="row form-group">
      <label for="oldCardNumber" class="col-form-label col-sm-3">Carte n°</label>
      <div class="col-sm-9">
        <input class="form-control" id="oldCardNumber" formControlName="cardNumber" />
        <val-errors controlName="cardNumber" label="Le n° de carte"></val-errors>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-3 col">
        <button type="submit" class="btn btn-primary mr-2" id="oldSave">Enregistrer</button>
        <button
          type="button"
          class="btn btn-danger"
          id="oldCancel"
          (click)="oldMembershipFormVisible = false"
        >
          Annuler
        </button>
      </div>
    </div>
  </form>
</div>
