<h1>Tâches</h1>

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="todo" routerLinkActive="active">À faire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="urgent" routerLinkActive="active">Urgentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mine" routerLinkActive="active">Ma liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="unassigned" routerLinkActive="active">Non assignées</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="archived" routerLinkActive="active">Archivées</a>
      </li>
      <li><hr /></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="statistics" routerLinkActive="active">Statistiques</a>
      </li>
      <li class="nav-item" class="mt-4">
        <a class="btn btn-outline-primary d-block" style="white-space: normal" routerLink="create">
          <span class="fa fa-plus"></span> Nouvelle tâche
        </a>
      </li>
    </ul>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
